/*Body*/

* {
  /*border: 1px solid orange;*/
}

body {
  font-family: 'Amatic SC', cursive;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}



/*Header*/

.main-header,
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.main-header {
  background-color: #f1f1f1;
  border-bottom: 1.5px solid orange;
}

/*Navigation*/

li {
  list-style: none;
}

.navigation a:hover {
  font-size: 2.5rem; 
}

.social-icons {
  display: none;
}

.navigation {
  font-size: 2rem;
}

.icon {
  padding-left: 1.5rem;
}

.twitter {
  padding-left: 0
}

.twitter:hover {
  color: #00aced;
}

.facebook:hover {
  color: #3b5998;
}

.github:hover {
  color: #4183c4;
}

.linkedin:hover {
  color: #007bb6;
}

.social-icons a {
  color: black;
}

/*Main Image*/

.main-image {
  background: url("../assets/bm.jpg");
  background-size: cover;
  background-position: bottom center;
  width: 100%;
  height: 90vh;
  color: #002957;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 15px 20px -12px lightgrey;
}

.main-image h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
  text-align: center;
}

.main-image h3 {
  text-align: right;
  font-size: 2rem;
  margin-right: 1.5rem;
  margin-bottom: .5rem;
}

.quote {
  background-color: rgba(255,255,255,0.7);
  max-width: 95%;
  border-radius: 25px
}

/*Main Content*/

.my-story {
  display: flex;
  font-size: 15em;
  flex-direction: column;
  text-align: center;
}

.my-story h3 {
  font-size: 2rem;
  margin: 0;
}

.my-story p {
  font-size: 1.5rem;
  color: grey;
  text-align: justify;
}

.wander,
.adult-code,
.personal {
  margin-bottom: 1rem;
}

/*Code Portfolio*/

.code-portfolio {
  width: 100%;
  height: 95vh;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.code-portfolio span {
  font-size: 3rem;
  text-align: center;
}

/*Photo Portfolio*/

.photo-portfolio {
  display: flex;
  flex-direction: column;
}

.photo-tag {
  font-size: 3rem;
  text-align: center
}

.photo-tag p {
  margin: 0;
  margin-top: 2rem;
}

.photo-portfolio a,
.image {
  width: 350px;
  height: 350px;
  margin: 2vh auto;
  box-shadow: 0 15px 20px -12px lightgrey;
  background-size: contain;
}

.image1 {
  background: url("../assets/IMG_3049.jpg") no-repeat;
}

.image2 {
  background: url("../assets/IMG_3051.jpg") no-repeat;
}

.image3 {
  background: url("../assets/IMG_3052.jpg") no-repeat;
}

.image4 {
  background: url("../assets/IMG_3055.jpg") no-repeat;
}

.image5 {
  background: url("../assets/IMG_3056.jpg") no-repeat;
}

.image6 {
  background: url("../assets/IMG_3059.jpg") no-repeat;
}

.image7 {
  background: url("../assets/IMG_3060.jpg") no-repeat;
}

.image8 {
  background: url("../assets/IMG_3063.jpg") no-repeat;
}

.image9 {
  background: url("../assets/IMG_3065.jpg") no-repeat;
}

.image10 {
  background: url("../assets/IMG_3066.jpg") no-repeat;
}

.image11 {
  background: url("../assets/IMG_3068.jpg") no-repeat;
}

.image12 {
  background: url("../assets/IMG_3069.jpg") no-repeat;
}

.image13 {
  background: url("../assets/IMG_3070.jpg") no-repeat;
}

.image14 {
  background: url("../assets/IMG_3080.jpg") no-repeat;
}


/*Footer*/

.footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: orange;
  margin-top: 8px;
}

.footer-wrap p {
  margin: 0;
}

/*Media Queries*/

@media (min-width: 769px) {

  .hidden-anchor {
    display: block;
    height: 96px;
    margin-top: -96px;
    visibility: hidden;
  }

  .main-header {
    height: 6rem;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 999;
  }

  .navigation {
    flex-direction: row;
    justify-content: space-around;
  }

  .social-icons {
    display: initial;
  }

  .active {
    color: orange;
    font-weight: bold;
  }

  .main-image {
    margin-top: 5rem;
  }

  .quote {
    max-width: 60%;
  }

  .main-image h3 {
    padding-right: 5vw;
  }

  .my-story {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 4rem;
    margin-top: 2rem;
  }

  .my-story h3 {
    border-top: 1px dashed orange;
    padding-top: 1rem;
    border-bottom: none;
  }

  .navigation li {
    padding: 5px;
  }

  .photo-portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
    margin: 0 auto;
  }

  .footer-wrap {
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;
  }

  .footer-wrap p {
    margin-left: 15px;
  }

  #design {
    margin-right: auto;
  }


}

@media (min-width: 1224px) {

  .navigation li {
    padding: 20px;
  }

  .active {
    background-color: orange;
    color: #fff;
    /*padding-bottom: 40px;*/
  }

}