/*Body*/

* {
  /*border: 1px solid orange;*/
}

body {
  font-family: 'Amatic SC', cursive;
  width: 100%;
  height: 400vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden-anchor {
  display: block;
  height: 96px;
  margin-top: -96px;
  visibility: hidden;
}

/*Header*/

.main-header,
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.main-header {
  background-color: #f1f1f1;
  border-bottom: 1.5px solid orange;
}

/*Navigation*/

li {
  list-style: none;
}

.navigation a:hover {
  color: orange; 
}

.social-icons {
  display: none;
}

.navigation {
  font-size: 2rem;
}

.icon {
  padding-left: 1.5rem;
}

.twitter {
  padding-left: 0
}

.icon:hover {
  font-size: 2.0rem
}

.twitter:hover {
  color: #00aced;
}

.facebook:hover {
  color: #3b5998;
}

.github:hover {
  color: #4183c4;
}

.linkedin:hover {
  color: #007bb6;
}

.social-icons a {
  color: black;
}

/*Main Image*/

.main-image {
  background: url("../assets/bm.jpg");
  background-size: cover;
  background-position: bottom center;
  width: 100vw;
  height: 90vh;
  color: #002957;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 15px 20px -12px lightgrey;
}

.main-image h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
  text-align: center;
}

.main-image h3 {
  text-align: right;
  font-size: 2rem;
  margin-right: 1.5rem;
  margin-bottom: .5rem;
}

.quote {
  background-color: rgba(255,255,255,0.7);
  max-width: 95%;
  border-radius: 25px
}

/*Main Content*/

.my-story {
  display: flex;
  font-size: 15rem;
  flex-direction: column;
  text-align: center;
}

.my-story p {
  font-size: 2rem;
  margin: 0;
}

.wander,
.adult-code,
.personal {
  margin-bottom: 1rem;
}

/*Code Portfolio*/

.code-portfolio {
  width: 100vw;
  height: 75vh;
  background-color: orange;
}




/*Footer*/

/*Media Queries*/

@media (min-width: 769px) {

  .main-header {
    height: 6rem;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 999;
  }

  .navigation {
    flex-direction: row;
    justify-content: space-around;
  }

  .social-icons {
    display: initial;
  }

  .active {
    color: orange;
    font-weight: bold;
  }

  .main-image {
    margin-top: 5rem;
  }

  .quote {
    max-width: 60%;
  }

  .main-image h3 {
    padding-right: 5vw;
  }

  .my-story {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 4rem;
  }


}

@media (min-width: 1224px) {

  li {
    padding: 30px;
    padding-bottom: 40px;
  }

  .active {
    background-color: orange;
    color: #fff;
  }

}